
@{
    ViewBag.Title = "Index";
    ViewBag.Style = "size";
    ViewBag.Counter = 1;
    int test = 1;
}


<style>
    .burger
    {
        font-size: 3px;
        width: 35%;
    }
    .teenyImg
    {
        width: 15px;
        font-size: 10px;
    }
    .size1
    {
        font-size: 40px;
    }
    .size2 {
        font-size: 36px;
    }
    .size3 {
        font-size: 32px;
    }
    .size4 {
        font-size: 28px;
    }
    .size5 {
        font-size: 24px;
    }
    .size6 {
        font-size: 20px;
    }
    .size7 {
        font-size: 16px;
    }
    .size8 {
        font-size: 12px;
    }
</style>



<table class="table">
    <thead>
        <tr>
            <th class="size4">
                Customers
            </th>
            <th class="size4">
                Burgers Eaten
            </th>
            <th class="size4">
                Burger Tally
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (KeyValuePair<string, int> entry in ViewBag.Customers)
        {
            { 
        }
                <tr class=@(ViewBag.Style + test)>
                    <td>
                        @entry.Key
                    </td>
                    <td>
                        @entry.Value
                    </td>
                    <td class="burger">
                        @for(int i = 0; i < entry.Value; i++)
                        {
                            <img src="~/Content/img/Burger.png" class="teenyImg" />
                        }
                    </td>
                </tr>
           {
               test++;
           }
        }  
    </tbody>

</table>

